# Compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

coverage
.nyc_output

# Local Database
db

# Dotenv environment files
.env
.env.test